@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.letter {
    font-family: 'Poetsen One';
    background-color: #3B413C;
    color: white;
    border: #9DB5B2 3px solid;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    padding-bottom: 6px;
}

.letter:hover {
    font-size: 37px;
    color: #9DB5B2;
}