.letter {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
}